.custom-table-container, .custom-table-row, .custom-table-item, .custom-table-item>div, .custom-table-item-label-require{
  box-sizing: border-box;
}
.custom-table-container {
  border-top: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.custom-table-row {
  display: flex;
  align-items: stretch;
}

.custom-table-item {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.custom-table-item>div {
  display: flex;
  align-items: center;
  min-height: 35px;
  height: 100%;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.custom-table-item>div.custom-table-item-label {
  justify-content: center;
  background: #FAFAFA;
}

.custom-table-item>div.custom-table-item-value {
  flex: 1;
  padding: 8px 10px;
  word-break: break-all;
}

.custom-table-item-label-required {
  color: #D82939;
}